<ion-content>
<center>
  <h1>Cadastro</h1><br>
  <ion-item>
    <ion-label position="stacked">Nome completo</ion-label>
    <ion-input type="name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Confirmação de e-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Celular</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Confirmação da senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="cadastro()" expand="full" shape="round" color="primary">Login</ion-button>
  <button (click)="voltar()" class="ion-activatable ripple-parent">
    Voltar
    <ion-ripple-effect></ion-ripple-effect>
  </button>
</center>
</ion-content>
